<footer>
  <div class="row expanded callout secondary">
    <div class="large-2 columns text-center">
      <h5><a href="{{"/socialni-site/" | prepend: site.baseurl}}">Sociální sítě</a></h5>
      <div class="fb-like" data-href="https://www.facebook.com/pirati.stc/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>

      <hr />

      <a class="twitter-follow-button" href="https://twitter.com/pirati_sck" data-show-screen-name="false">
        Follow @pirati_sck
      </a>
    </div>
    <div class="large-2 columns">
      <h5>O nás</h5>
      <ul class="no-bullet">
        <li><a href="{{"/lide/" | prepend: site.baseurl}}">Tým</a></li>
        <li><a href="{{"/program/" | prepend: site.baseurl}}">Program</a></li>
      </ul>
    </div>
    <div class="large-2 columns">
      <h5>Připoj se</h5>
      <ul class="no-bullet">
        <li><a href="{{"/zapoj-se/#clenstvi" | prepend: site.baseurl}}">Členství</a></li>
        <li><a href="{{"/zapoj-se/#staze" | prepend: site.baseurl}}">Stáže</a></li>
        <li><a href="{{"/zapoj-se/#prispej" | prepend: site.baseurl}}">Přispěj</a></li>
        <li><a href="{{"/zapoj-se/#aktivista" | prepend: site.baseurl}}">Nezávislý aktivista</a></li>
      </ul>
    </div>
    <div class="large-2 columns">
      <h5>Transparence</h5>
      <ul class="no-bullet">
        <li><a href="{{"/transparence/#ucty" | prepend: site.baseurl}}">Transparentní účet</a></li>
        <li><a href="https://smlouvy.pirati.cz">Registr Smluv</a></li>
        <li><a href="{{"/transparence/#systemy" | prepend: site.baseurl}}">Technické systémy</a></li>
      </ul>
    </div>
    <div class="large-2 columns">
      <h5><a href="lide.html#predsednictvo">Kontakt</a></h5>
      <small>
        Lenka Kozlová (předsedkyně), lenka.kozlova@pirati.cz
        <p>
        František Kopřiva (lídr), frantisek.kopriva@pirati.cz
    </small>
    </div>

  </div>
  <div class="row expanded">
    <div class="medium-6 columns">
      <small>
        <ul class="menu">
          <li><a href="http://pirati.cz">Pirati.cz</a></li>
          <li> &nbsp;&nbsp;subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
        </ul>
      </small>
    </div>
    <div class="medium-6 columns">
      <span style="-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-khtml-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);display:inline-block;font-size:1em">©</span> Copyleft
      Piráti, 2016. Všechna práva vyhlazena. Kopírování je aktem lásky. Obsah této stránky můžete volně šířit podle licence <a href="http://creativecommons.org/licenses/by/4.0/">Creative commons Uveďte autora 4.0</a>.
    </div>
  </div>
</footer>

<div id="back-top">
  <a href="#">&uarr; Nahoru &uarr;</a>
</div>
