---
layout: default
---

<br>

<article class="row small-up-2">
  {% for post in paginator.posts %}
  <div class="column">
    <div style="min-height: 560px;">
      <img src="{{ post.image | prepend: "/assets/img/posts/" | prepend: site.baseurl}}"
        class="thumbnail"
        alt="{{ post.title }}">
      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <p>
        <span><i class="fi-calendar">&nbsp;{{ post.date | date: "%d.%m.%Y" }}&nbsp;&nbsp;</i></span>
        <span><i class="fi-torso">&nbsp;{{ post.author }}&nbsp;</i></span>
      </p>
      <p>
        {{ post.excerpt | truncatewords: 34 }}
        <a href="{{ post.url | prepend: site.baseurl }}">více</a>.
      </p>
    </div>
    <hr>
  </div>

  {% endfor %}
</article>

<!-- Stránkování / pagination -->
<div class="row">
  <div class="large-8 large-centered">
    <ul class="pagination" role="navigation" aria-label="Pagination">
      <li>
        <a href="{{ paginator.previous_page_path }}" aria-label="Previous page">
        Previous <span class="show-for-sr">page</span>
      </a>
      </li>
      {% for page in (1..paginator.total_pages) %}
      <li>
        {% if forloop.index == 1 %}
        <a href="{{ site.baseurl }}/" aria-label="Page {{ forloop.index }}" {% if page == paginator.page %} class="current" {% endif %}>
      {% else %}
        <a href="{{site.baseurl}}/blog/page{{forloop.index}}" aria-label="Page {{ forloop.index }}"{% if page == paginator.page %} class="current"{% endif %}>
      {% endif %}
        {{ forloop.index }}
      </a>
      </li>
      {% endfor %}
      <li>
        <a href="{{ paginator.next_page_path}}" aria-label="Next page">
        Next <span class="show-for-sr">page</span>
      </a>
      </li>
    </ul>
  </div>
</div>
<!-- / Stránkování / pagination -->

<br />
